/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "custom-variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-weight: 100;
  letter-spacing: 1px;
}

div.upper-nav {
  border-bottom: 1px solid #000;
  height: 35px;
}

div.image-left {
  width: 74.6%;
  min-height: 500px;
  margin-left: 0;
  background-image: url('/assets/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: none;
  position: absolute;
}
div.image-right {
  width: 74.6%;
  min-height: 500px;
  margin-right: 0;
  right: 0;
  background-image: url('/assets/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: none;
  position: absolute;
}

div.color-right {
  width: 24.9%;
  min-height: 500px;
  margin-right: 0;
  background-color: #356986;
  right: 0;
  position: absolute;
}

div.entry-image {
  width: 30%;
  min-height: 300px;
  margin-left: 0;
  background-image: url('/assets/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: none;
  position: absolute;
}

div.blog-entry {
  margin-bottom: 10px;
  min-height: 300px;
}

div.blog-text {
  border: 1px solid #7B848A;
  padding: 30px;
  background-color: #fff;
  margin: 0;
}

div.box-text {
  border: 1px solid #7B848A;
  padding: 30px;
  background-color: #fff;
  margin: 115px 0 0 0;
}

div.gray-background-left {
  margin-bottom: 10px;
  width: 49%;
  margin-right: 1%;
  background-color: #fff;
  border-left: 5px solid #99C524;
  padding: 40px;
  text-align: left;
  float: left;
}

div.gray-background-right {
  margin-bottom: 10px;
  width: 49%;
  margin-left: 1%;
  background-color: #fff;
  border-left: 5px solid #99C524;
  padding: 40px;
  text-align: left;
  float: left;
}

div.light-gray {
  background-color: #F3F7F9;
  margin: 0px;
  padding: 30px;
  border-left: 5px solid #99C524;
  text-align: left;
  .btn {
    margin-top: 50px;
  }
}

a {
  font-family: "HelveticaNeue-CondensedBold";
  text-transform: uppercase;
}

.btn {
  border: 0px;
}

.navbar {
  border-bottom: 1px solid #7B848A;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}

div.image-square {
  background-image: url('/assets/background.jpg');
  background-position: center;
  background-size: cover;
}

.wrapper {
    p {
      margin-bottom: 100px;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 24px;
    }
    background: rgba(0, 0, 0, 0.55);
    background-size: cover;
    color: #fff;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 20px;
}

p.large-square {
  padding: 100px 50px 0px 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "HelveticaNeue-CondensedBold";
  text-align: center;
}

ul.categories {
  font-weight: 100;
  font-size: 15px;
  list-style: none;
  text-transform: uppercase;
  padding-left:0;
  li {
    margin-bottom: 10px;
  }
}


footer {
  background-color: #404040;
  min-height: 250px;
  position: relative;
  color: #fff;
  margin-top: 10px;

  .container-fluid {
      padding: 0 25px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  i {
    margin-right: 5px;
  }
  .footer-light {
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #7B848A;

    p {
      color: #fff;
      margin-top: 10px;
    }
  }
}
