//
// Variables
// --------------------------------------------------

$brand-primary:         #009DDA !default; // #337ab7
$brand-success:         #99C524 !default;
$brand-info:            #356986 !default;
$brand-warning:         #FF8842 !default;
$brand-danger:          #d9534f !default;

$navbar-height:                    100px !default;
$navbar-default-bg:                #fff !default;
$navbar-default-border:            #7B848A !default;
$navbar-border-radius:             0 !default;
$navbar-margin-bottom:             10px !default;

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-weight:    500 !default;
$headings-font-family:    "HelveticaNeue-CondensedBold" !default;
$font-size-base:          15px !default;
$text-color:            #404040 !default;

$btn-border-radius-base:         0 !default;
$btn-default-color:              #356986 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             transparent !default;

$grid-gutter-width:         10px !default;
