<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h3>Contact</h3>
        <ul>
          <li><%= icon('phone') %> 206.123.4567</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Locations</h3>
        <ul>
          <li><span style="font-weight: 600;">Seattle</span> | 1932 First Avenue, Suite 200</li>
          <li><span style="font-weight: 600;">Austin</span> | 809 South Lamar Blvd., Suite A</li>
          <li><span style="font-weight: 600;">DC</span> | 1775 Greensboro Station Place, Suite 350</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3>Links</h3>
        <ul>
          <li><%= icon('phone') %> 206.123.4567</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Subscribe</h3>
        <ul>
          <li><%= icon('phone') %> 206.123.4567</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright 2017 Paladino and Company. All Rights Reserved.</p>
        </div>
        <div class="col-md-3 col-md-offset-3" style="text-align: right">
          <p><%= icon('facebook-square') %></p>
        </div>
      </div>
    </div>
  </div>
</footer>
